In [36]:
'''
Understand the data
Import the required libraries
Preprocess the data
Split the data
Build the model
Evaluate the results
'''

'\nUnderstand the data\nImport the required libraries\nPreprocess the data\nSplit the data\nBuild the model\nEvaluate the results\n'

In [37]:
import pandas as pd

In [38]:

import numpy as np
from sklearn. feature_extraction. text import CountVectorizer  
from sklearn. model_selection import train_test_split
from sklearn. tree import DecisionTreeClassifier

In [39]:
import nltk   # Natural Language toolkit
import re     # String matching the expression
# nltk.download('stopwords')       # need to download it for first use
from nltk.corpus import stopwords
stopword=set(stopwords.words('english'))
stemmer = nltk.SnowballStemmer('english')  # maps different form of common words

In [40]:
data = pd.read_csv("D:/shubham/Academic/2 SY/Summer_break/Python/hate-speech-detection/hate-speech-detection.csv")

In [41]:
data

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [42]:
data.head(7)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5,5,3,1,2,0,1,"!!!!!!!!!!!!!!!!!!""@T_Madison_x: The shit just..."
6,6,3,0,3,0,1,"!!!!!!""@__BrighterDays: I can not just sit up ..."

In [43]:
data["labels"]=data["class"].map({0:"Hate Speech",1:"Offensive Speech",2:"No hate or offense"})
# mapping for class column to labels 
df = data[["tweet","labels"]]
df.head()

                                               tweet              labels
0  !!! RT @mayasolovely: As a woman you shouldn't...  No hate or offense
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...    Offensive Speech
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...    Offensive Speech
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...    Offensive Speech
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...    Offensive Speech

In [44]:
# Tweet has many useless words like @ [.?] , etc so cleaning is needed for the tweet column 
# so we create a funciton to clean the data from df['tweet']
def clean (text):
    text = str (text). lower()
    text = re. sub('[.?]', '', text)
    text = re. sub('https?://\S+|www.\S+', '', text)
    text = re. sub('<.?>+', '', text)
#     text = re. sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re. sub('\n', '', text)
    text = re. sub('\w\d\w', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ". join(text)
    text = [stemmer. stem(word) for word in text. split(' ')]
    text=" ". join(text)
    return text


df["tweet"] = df["tweet"].apply(clean)

<ipython-input-44-a6c47105d588>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tweet"] = df["tweet"].apply(clean)

In [45]:
# Splitting the data

x=np.array(df["tweet"])
y=np.array(df["labels"])
cv=CountVectorizer()

X = cv.fit_transform(x)

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [46]:
#model building
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [47]:
# Prediction
y_pred = model.predict(x_test)
y_pred

array(['Offensive Speech', 'Offensive Speech', 'No hate or offense', ...,
       'No hate or offense', 'Offensive Speech', 'Offensive Speech'],
      dtype=object)

In [48]:
# to check the accuracy of our model
from sklearn. metrics import accuracy_score
print (accuracy_score (y_test,y_pred))

0.8822594449199168

In [49]:
# Predicting the outcome 
inpu = input("Enter the text:")
inp = cv.transform([inpu]).toarray()
print(model.predict(inp))

Enter the text:you've gone and broke the wrong heart baby
['Hate Speech']